/* Made Gde */
/* Data Science for Public Policy */

/* This is a comment in CSS */

/* This is a 
multi line comment */

/* CSS files can be used to access e.g. fonts */
<style>
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
</style>

// <uniquifier>: Use a unique and descriptive class name

.cabin-cabin {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

// <uniquifier>: Use a unique and descriptive class name

.montserrat-mont {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* Format my paragraph */
p {
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	margin: 5px 5px;
	line-height: 22.4px;
	color: #0d1b2a;
}

/* Format my heading */
h1, h2, h3, h4 {
	font-family: "Cabin", sans-serif;
	font-variant: small-caps;
	font-size: 60px;
	color: #415a77;
	font-weight: 900;
	margin: 0px 0px 30px 0px;
}
